<!DOCTYPE html>
<html>
  <head>
    <title>Samasana</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="text/javascript">
      window.logoURL = "<%= image_url('samasana.svg') %>";
      window.kanbanIconURL = "<%= image_url('kanban_icon.svg') %>";
      window.womanPinkPointing = "<%= image_url('woman_pink_pointing.png') %>";
    </script>

    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,600|Josefin+Sans:300,400,600|Muli|Questrial&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,600|Quicksand|Questrial|Roboto:300,400&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/bb4484e347.js"></script>
 

  </head>

  <body>
    <%= yield %>
  </body>
</html>